{% extends 'base.html' %}

{% block content %}
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">{{ todolists.0.category }}</h1>
        </div>
       
        <div class="lg:w-2/3 w-full mx-auto overflow-auto">
            <table class="table-auto w-full text-left whitespace-no-wrap">
                <thead>
                    <tr>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Task</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Description</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Begin</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">DeadLine</th>
                    <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"></th>
                    <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br">Action</th>
                    </tr>
                </thead>
                {% for todo in todolists %}
                    <tbody>
                        <tr>
                        <td class="px-4 py-3">{{ todo.name }}</td>
                        <td class="px-4 py-3">{{ todo.description }}</td>
                        <td class="px-4 py-3">{{ todo.date_begin }}</td>
                        <td class="px-4 py-3 text-lg text-gray-900">{{ todo.date_end }}</td>
                        <td class="w-10 text-center">
                            <a href="{% url 'todo:todo-update' pk todo.pk %}" class="link-delete text-green-600">Update</a>
                        </td>
                        <td class="w-10 text-center">
                            <a href="{% url 'todo:todo-delete' pk todo.pk %}" class="link-delete text-red-600">Delete</a>
                        </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>

        <div class="flex justify-center mt-5 mx-auto">
            <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0" href="{% url 'todo:todo-create' pk %}">
                <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                    Create New One
                </button>
            </a>
        </div>

    </section>
    

{% endblock content %}

{% block script %}
<script>
    $(".link-delete").on("click", function(e){
        e.preventDefault();
        var $this = $(this);
        if(confirm("Sure to delete?")){
            $.ajax({
                url: this.attr("href"),
                type: "GET",
                dataType: "jsson",
                success: function (resp){
                    if(resp.message === 'success'){
                        $this.parents('.record').fadeOut("slow", function(){
                            $this.parents('.record').remove();
                        })
                    }
                    else{
                        alert(resp.message)
                    }
                },
                error: function (resp){
                    console.log("Something went wrong");
                }
            })
        }
        return false;
    });
</script>
{% endblock %}

